/* common rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: "";
    clear: both;
    display: t;
}
body{
    font-family: 'Catamaran', sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}
.image{
    width: 100%;
}
.site_nav{
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    background-color:transparent ;
    width: 100%;

}
.logo_discord{
    vertical-align: middle;
}
.logo {
    line-height: 70px;
    display: inline-block;
    float: left;

}
.menu{
    position: relative;
    top: 0;
    left: 160px;
    line-height: 70px;
    float: left;
    padding: 0 1.2rem;
    display: inline-block;
}
.list_none li{
    vertical-align: middle;
    list-style-type: none;
    display: inline-block;
}
li a{
    padding: 0px 22px;
    text-decoration: none;
    color: white;
}
 .list_none a:hover{
    cursor: default;
    text-decoration: underline;
    text-decoration: cornflowerblue;
} 
.login{
    line-height:70px;
    float: right;
    display: inline-block;
}
.btn_login{
    vertical-align: middle;
}
.btn{
    padding: 10px 6px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
}
.btn:hover{
    cursor: pointer;
    color: cornflowerblue;
    text-decoration: underline;
}
.main_header{
    width: 100%;
    position: absolute;
    top: 20%;
    left: 0;
}

.container_1{
    margin: auto;
    width: 50%;
    text-align: center;
}
.container_1 > .title{
    color: white;
    font-size: 50px;
    margin-bottom: 40px;
    font-weight: 800;
}
.container_1 > .text{
    color: white;
    font-size: 19px;
    font-weight: 500;
}
br{
    padding-bottom: 15px;
}
.btn_header{
    margin: 40px 10px;
    padding: 20px 30px;
    border-radius: 30px;  
    font-size: 20px;
}
.btn_opening{
    background-color: black;
    color: white;
}
.site_main{
    height: 500px;
    position: relative;
    top:-9px;
    left: 0;
}
.container_2{
    position: relative;
    height: 100%;
    width: 60%;
    margin: auto;
}
.sx{
    position: absolute;
    top: 0;
    left: 0;
}
.main_text{
    height: 500px;
    width: 400px;
}
.dx{
    position: absolute;
    top: 0;
    right: 0;
}
.main_title{
    margin: auto;
    position: absolute;
    top: 50px;
    left: 0px;
    font-weight: 800;
    font-size: 40px;
}
.text_1{
    font-weight: 500;
    font-size: 18px;
    position: absolute;
    top: 240px;
    left: 0px;
}
.main_sub-title{
    font-weight: 500;
    font-size: 18px;
    position: absolute;
    top: 120px;
    left: 0px;
}
.container_3{
    position: relative;
    height: 100%;
    width: 80%;
    margin: auto;
}
.main_text_2{
    height: 500px;
    width: 100%;
    text-align: center;
    margin: auto;
}
.image_main_2{
    text-align: center;
}
.main_title_2{
    margin: auto;
    position: absolute;
    top: 50px;
    left: 15%;
    font-weight: 800;
    font-size: 40px;
}
.main_sub-title_2{
    font-weight: 500;
    font-size: 18px;
    position: absolute;
    top: 120px;
    left: 0px;
}
.position_section_text_4{
    position: absolute;
    top: -60px;
    left: 50px;
}
.position_section_image_4{
    position: absolute;
    top: 70px;
    left: 250px;
}
.section_ending{
    position: absolute;
    top: 650px;
    left: 35%;
}
.btn_ending{
    background-color: #8EA1E1;
    color: white;
    margin-top: 20px;
    padding: 20px 30px;
    border-radius: 30px;
    font-size: 20px;
}
.question{
    font-weight: 800;
    font-size: 20px;
    margin-top: 20px;}
    .question{
    font-weight: 800;
    font-size: 20px;
    margin-top: 20px;}