/* common rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: "";
    clear: both;
    display: t;
}
body{
    font-family: 'Catamaran', sans-serif;
}
.container {
    width: 70%;
    margin: auto;
}
/* Botton rules */
.btn{
    padding: 10px 6px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
}
.btn:hover{
    cursor: pointer;
    color: cornflowerblue;
    text-decoration: underline;
}
/* Debug rules */
.debug header{
    height: 500px;
}
.debug .col_lat,
.debug .col_cent{
    height: 50px;
    background-color: rgb(47, 107, 107);
}
.debug .background {
    height: 500px;
    background-color: blue;
}

.debug .background .container {
    height: 100%;
    background-color: lightblue;
}

.debug .upcontainerxl {
    height: 80%;
    background-color: azure;
}
.site_header{
    background-color: #3161E0;
    height: 100%;
}
.col_lat,
.col_cent{
    float: left;
}
.logo {
    padding-top: 0.2rem;
    cursor: pointer;
    position: relative;
    top: 0.5rem;
}
nav{
    width: 100%;
    padding: 1rem;
}
nav .col_lat{
    width: 20%;
    line-height: 100%;
}
nav .col_cent{
    width: 60%;
}
.col_cent{
    text-align: center;
    padding-top: 0.6rem;
}
.col_lat{
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
    padding: 1rem;
}
.col_lat .btn_login{
    position: relative;
    top: 0.5rem;
}

/* Main */
.background{
    width: 100%;
}
.hero_image {
    background-image: url(../img/jumbo.png);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
    color: white;
}

.upcontainerxl {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    text-align: center;
}

h1 {
    font-size: 3rem;
}

.text {
    font-size: 1.4rem;
    padding-top: 1.7rem;
}

.download {
    padding-top: 1rem;
    
}
/* modifica aspetto */